.signIn{
    text-align: center;
    &-header{
        &:not(:last-child){
            margin-bottom: 25px;
        }
    }
    &Disclaimer{
        font-size: 18px;
        opacity: 0.6;
    }
    button {
        padding: 20px;
        border: none;
        border-radius: 30px;
        width: 80%;
        margin: 0 auto;
        font-size: inherit;
        text-transform: uppercase;
        font-weight: 700;
        background: #00a1ff;
        color: white;
    }
}