<div class="page update">
    <div class="page-header">
        <h1>Update Card</h1>
    </div>
    <div class="page-body">
        <form @submit.prevent="updCard">
            <div class="form-wrapper">
                <div class="form-group">
                    <label for="name">Card Name</label>
                    <input type="text" v-model="form.name" name="name" id="name"/>
                </div>
                <div class="form-group">
                    <label for="type">Card Type</label>
                    <select v-model="form.type" name="type" id="type">
                        <option disabled value="">Please Select</option>
                        <option>Visa</option>
                        <option>Mastercard</option>
                        <option>Amex</option>
                        <option>Discover</option>
                        <option>Capital One</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="number">Card Number</label>
                    <input type="text" v-model="form.number" name="number" id="number"/>
                </div>
                <div class="form-group form-half">
                    <label for="color">Card Color</label>
                    <v-swatches v-model="form.color" id="color"></v-swatches>
                </div>
                <div class="form-group form-half">
                    <label for="cutDate">Cut Date</label>
                    <input type="number" min="1" max="31" v-model="form.cutDate" name="cutDate" id="cutDate"/>
                </div>
                <div class="form-group form-half">
                    <label for="dueDate">Due Date</label>
                    <input type="number" min="1" max="31" v-model="form.dueDate" name="dueDate" id="dueDate"/>
                </div>
                <div class="form-group form-half">
                    <label for="cutDateBefore">Cut Date Before</label>
                    <input type="number" min="1" max="7" v-model="form.cutDateBefore" name="cutDateBefore" id="cutDateBefore"/>
                </div>
                <div class="form-group">
                    <label for="credit">Credit Limit</label>
                    <input type="text" v-model="form.credit" name="credit" id="credit"/>
                </div>
            </div>
            <div class="form-wrapper form-fieldset">
                <div class="form-header">
                    <h2>Rewards</h2>
                </div>
                <div class="rewardCard-wrapper">
                    <RewardCard
                        v-for="(reward, index) in form.rewards"
                        @removeReward="removeReward"
                        :key="index"
                        :reward="reward"
                        :index="index"
                    />
                    <div class="rewardCard-content">
                        <div class="rewardCard-content-header">
                            <h2>New Reward</h2>
                        </div>
                        <div class="form-group">
                            <label for="new-rewarded-name">Name</label>
                            <input type="text" v-model="newReward.name" name="new-rewarded-name" id="new-rewarded-name"/>
                        </div>
                        <div class="form-group">
                            <label for="new-reward-interest">Interest</label>
                            <input type="number" v-model="newReward.interest" name="new-reward-interest" step="0.5" id="new-reward-interest"/>
                        </div>
                        <div class="form-group form-half">
                            <label for="new-reward-startdate">Start Date</label>
                            <input type="date" v-model="newReward.startDate" name="new-reward-startdate" id="new-reward-startdate"/>
                        </div>
                        <div class="form-group form-half">
                            <label for="new-reward-enddate">End Date</label>
                            <input type="date" v-model="newReward.endDate" name="new-reward-enddate" id="new-reward-enddate"/>
                        </div>
                        <div class="form-group">
                            <label for="new-reward-details">Details</label>
                            <input type="text" v-model="newReward.details" name="new-reward-details" id="new-reward-details"/>
                        </div>
                    </div>
                </div>
                    <div class="form-group form-button">
                        <button @click.prevent="addNewReward">Save rewards</button>
                    </div>

            </div>
            <div class="form-group form-button">
                <button type="submit">Update Card</button>
            </div>
        </form>
    </div>
</div>