.cardList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    &-not-found {
        font-size: 16px;
        width: 248px;
        margin: 20px auto;
        text-align: center;
        color: rgb(0 0 0 / 60%);
        &-image {
            height: 60px;
            margin-bottom: 9px;
            opacity: 0.5;
        }
    }
    .fadeInUp-leave-to,
    .fadeInUp-enter-from {
        opacity: 0;
        margin-top: -15px;
    }
    .fadeInUp-leave-from,
    .fadeInUp-enter-to {
        margin-top: 0;
    }
    .fadeInUp-leave-active,
    .fadeInUp-enter-active {
        transition: margin-top 0.3s ease, opacity .3s ease;
    }
}