.cardList {
    &-list{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
       
    }
    
    &-not-found {
        font-size: 16px;
        width: 248px;
        margin: auto;
        padding: 20px;
        text-align: center;
        color: rgb(0 0 0 / 60%);
        &-image {
            height: 60px;
            margin-bottom: 9px;
            opacity: 0.5;
        }
    }
    .fadeInUp-leave-to,
    .fadeInUp-enter-from {
        opacity: 0;
        margin-top: -15px;
    }
    .fadeInUp-leave-from{
        opacity: 0;
    }
    .fadeInUp-leave-from,
    .fadeInUp-enter-to {
        margin-top: 0;
    }
    .fadeInUp-move,
    .fadeInUp-leave-active,
    .fadeInUp-enter-active {
        transition: margin-top 0.3s ease, opacity 0.3s ease;
        width: 100%;
    }
    .fadeInUp-leave-active {
        position: absolute;
    }
    .fadeInUpDelayed-leave-to,
    .fadeInUpDelayed-enter-from {
        opacity: 0;
        margin-top: -15px;
    }
    .fadeInUpDelayed-leave-from,
    .fadeInUpDelayed-enter-to {
        margin-top: 0;
    }
    .fadeInUpDelayed-enter-active {
        transition: margin-top 0.3s ease, opacity .3s ease;
    }
}