@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,700&family=Share+Tech+Mono&display=swap');
$Oswald: 'Oswald', sans-serif;
$ShareTec: 'Share Tech Mono', monospace;
$Quattrocentro: 'Quattrocento Sans', sans-serif;
body {
    font-family: $Quattrocentro;
    font-size: 20px;
    $bodyPadding: 15px;
    margin: 0 auto;
    padding: $bodyPadding;
    background-color: #0093E9;
    background-image: linear-gradient(180deg, #00a1ff 0%, #ffffff 50vh);
    min-height: 100vh;
    max-width: 512px;
}
h1 {
    @extend %head1;
}
h2 {
    @extend %head2;
}
.techNumber {
    font-family: $ShareTec;
    font-size: 22px;
    text-shadow: -2px -2px 2px rgb(255 255 255), 1px 0 1px rgb(0 0 0 / 90%), 2px -2px 4px rgb(255 255 255), -2px -2px 2px rgb(0 0 0 / 90%), -2px 1px 1px rgb(0 0 0 / 90%);
    -webkit-text-stroke: 2px rgba(0,0,0,0.4);
}
%head1 {
    @extend %commonHead;
    font-size: 24px;
}
%head2 {
    @extend %commonHead;
    font-size: 20px;
}
%commonHead {
    font-family: $Oswald;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.form-header,
.form-subheader {
    width: 100%;
}
.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 15px;
    &.form-half {
        flex: 1 1 50%;
        max-width: calc(50% - 48px);
    }
    &.form-button {
        background: none;
    }
    &.form-button-left {
        padding-left: 0;
        button{
            margin: 0;
        }
    }
    label {
        margin-bottom: 10px;
        color: #979797;
        font-size: 16px;
    }
    input[type=text],
    input[type=number],
    input[type=date],
    select {
        border: none;
        background: none;
        height: 30px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }
    button {
        padding: 20px;
        border: none;
        border-radius: 30px;
        width: 80%;
        margin: 0 auto;
        font-size: inherit;
        text-transform: uppercase;
        font-weight: 700;
        background: #00a1ff;
        color: white;
    }
}
.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.form-fieldset {
    padding: 25px 15px 35px;
    background: rgb(0, 0, 0, 0.12);
    border-radius: 10px;
}
.page {
    padding: 25px 15px;
    background: white;
    border-radius: 10px;
    &-header,
    &-subheader{
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
}