<div id="app-wrapper">
  <Nav
      :userAvatar="userAvatar"
      :userDisplayName="userDisplayName"
      :handleSignOut="handleSignOut"
      :filterBy="filterBy"
      :filterRewardCategory="filterRewardCategory"
      :resetFilterBy="resetFilterBy"
      :isLoggedIn="isLoggedIn"
  />
  <router-view 
    :addNewCard="addNewCard"
    :filterRewardsFunction="filterRewardsFunction"
    :maxPercentage="maxPercentage"
    :minPercentage="minPercentage"
    :cutPaidChanged="cutPaidChanged"
    :filterRewardCategory="filterRewardCategory"
    :filterBy="filterBy"
    :sortBy="sortListByCutDate"
    :resetFilterBy="resetFilterBy"
    :signInWithGoogle="signInWithGoogle"
    :handleSignOut="handleSignOut"
    :isLoggedIn="isLoggedIn"
    :userEmail="userEmail"
  ></router-view>

</div>