.filter{
    $inputWidth: 60px;
    $inputBorderWidth: 1px;
    $inputPaddingSides: 10px;
    $inputPaddingTopDown: 3px;
    display: flex;
    width: 100%;
    gap: 10px;
    &-container{
        flex: 1 1 100%;
        overflow-x: scroll;
        align-self: center;
        /* hide overflow scrollbars */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        /* border-right linear gradient mask*/
        mask-image: linear-gradient(90deg, rgb(0, 0, 0) 80%, transparent);
        -webkit-mask-image: linear-gradient(90deg, rgb(0, 0, 0) 80%, transparent);
        &::-webkit-scrollbar {
            display: none;
        }
        a{
            font-size: 15px;
            color: #a8a8a8;
            &.active {
                color: black;
            }
        }
    }
    &-search{
        flex-shrink: 0;
        display: flex;
        gap: 10px;
        overflow: hidden;
        align-items: center;
        &-link {
            &-icon{
                height: 20px;
            }
        }
        &-form{
            overflow: hidden;
        }
        &-input{
            width: $inputWidth;
            border: $inputBorderWidth solid #a8a8a8;
            text-align: right;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            color: #a8a8a8;
            border-radius: 7px;
            padding: $inputPaddingTopDown $inputPaddingSides;
        }
    }
    &-icon {
        height: 26px;
        opacity: 0.3;
        .active & {
            opacity: 1;
        }
    }
    ul{
        display: inline-flex;
        gap: 24px;
        li {
            padding: 5px;
        }
    }
    .slideLeft-leave-to,
    .slideLeft-enter-from {
        width: 0;
    }
    .slideLeft-leave-from,
    .slideLeft-enter-to {
        width: $inputPaddingSides * 2 + $inputWidth + 2 * $inputBorderWidth;
    }
    .slideLeft-leave-active,
    .slideLeft-enter-active {
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.19, 0.98);
    }
}