.filter{
    $inputWidth: 60px;
    $inputBorderWidth: 1px;
    $inputPaddingSides: 10px;
    $inputPaddingTopDown: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    &-categories {
        overflow-x: scroll;
        /* hide overflow scrollbars */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        /* border-right linear gradient mask*/
        mask-image: linear-gradient(90deg, rgb(0, 0, 0) 85%, transparent);
        -webkit-mask-image: linear-gradient(90deg, rgb(0, 0, 0) 85%, transparent);
        &::-webkit-scrollbar {
            display: none;
        }
        &-link {
            text-decoration: none;
            &-icon {
                display: flex;
                background-color: #f0f0f0;
                border-radius: 50%;
                height: 60px;
                width: 60px;
                margin-bottom: 8px;
                align-items: center;
                justify-content: center;
                &-image {
                    height: 20px;
                    opacity: 0.5;
                    .active & {
                        opacity: 1;
                    }
                }
                .active & {
                    opacity: 1;
                }
            }
            &-text {
                font-size: 14px;
                font-family: "Oswald", sans-serif;
                text-align: center;
                text-transform: capitalize;
                display: block;
                color: #808080;
                .active & {
                    color: #000000;
                }
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            gap: 25px;
            li {
                flex: 1;
                &:last-child {
                    padding-right: 20px;
                }
            }
        }
    }
    &-form {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &-search{
        flex: 1;
        position: relative;
        &-input {
            border: none;
            background-color: #f0f0f0;
            border-radius: 25px;
            height: 50px;
            padding: 0 50px 0 20px;
            width: calc(100% - 70px);
            font-size: 18px;
            text-transform: capitalize;
            color: #797979;
            font-family: "Roboto", sans-serif;
        }
        &-form {
            &-status {
                position: absolute;
                top: 0;
                right: 15px;
                height: 100%;
                display: flex;
                align-items: center;
                img {
                    height: 20px;
                }
            }
        }
    }
    &-buttons {
        display: flex;
        align-items: center;
        height: 100%;
        a {
            border: none;
            height: 50px;
            width: 50px;
            background-color: #f0f0f0;
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 36px;
            line-height: 1;
            &:not(:last-child){
                margin-right: 10px;
            }
        }
    }
    .slideDown-leave-to,
    .slideDown-enter-from {
        margin-top: -75px;
    }
    .slideDown-leave-from,
    .slideDown-enter-to {
        margin-top: 0;
    }
    .slideDown-leave-active,
    .slideDown-enter-active {
        transition: margin-top 0.5s ease;
    }
}