<div class="filter">
    <div class="filter-form">
        <div class="filter-search">
            <div class="filter-search-form">
                <input class="filter-search-input" type="text" v-model="searchContent" @keyup.enter="handleFilterInput" placeholder="Filter Rewards"/>
                <div class="filter-search-form-status">
                    <div class="filter-search-form-search" v-show="!filterRewardCategory">
                        <img src="/src/assets/filter-search.svg">
                    </div>
                    <div class="filter-search-form-reset" v-show="filterRewardCategory">
                        <img src="/src/assets/filter-reset.svg" @click.prevent="resetFilterBy">
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-buttons">
            <router-link to="/newcard">+</router-link>
        </div>
    </div>
    <transition name="slideDown">
        <div class="filter-categories">
           <ul>
               <li v-for="filter in filters">
                   <a href="#" class="filter-categories-link" @click.prevent="$emit('filterBy', filter.name)" :class="{'active': filter.name.toLowerCase() == filterRewardCategory.toLowerCase()}">
                       <span class="filter-categories-link-icon">
                           <img class="filter-categories-link-icon-image" :src="getFilterIcon(filter.slug)" />
                       </span>
                       <span class="filter-categories-link-text">
                           {{filter.name}}
                       </span>
                   </a>
               </li>
           </ul>
        </div>
    </transition>
</div>