.filter{
    display: flex;
    width: 100%;
    gap: 10px;
    &-container{
        flex: 1 1 100%;
        overflow-x: scroll;
        /* hide overflow scrollbars */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
        a{
            font-size: 15px;
            color: #a8a8a8;
            &.active {
                color: black;
            }
        }
    }
    &-search{
        flex-shrink: 0;
        display: flex;
        gap: 5px;
        &-link {
            &-icon{
                height: 20px;
            }
        }
        &-input{
            width: 80px;
        }
    }
    ul{
        display: inline-flex;
        gap: 10px;
    }
}