.card {
    $a: &;
    &__wrapper{
        position: relative;
        border-radius: 10px;
        padding: 25px;
        min-height: 160px;
        background-color: var(--mainColor);
        box-shadow: 0 9px 20px 0 rgb(0 0 0 / 40%);
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            border-radius: 10px;
            background-image: linear-gradient(147deg, rgb(255 255 255 / 0%) 0%, rgb(27 27 27 / 58%));
            pointer-events: none;
        }
        #{$a}.unavailable &{
            border: none;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: rgba(#fff, 0.7);
                pointer-events: none;
                border-radius: 10px;
            }
        }
    }
    &__container {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "card__brand card__time"
            "card__reward card__type";
        gap: 20px;
    }
    &__ship {
        margin-bottom: 8px;
    }
    &__name {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    &__number {
        text-transform: uppercase;
        font-size: 24px;
    }
    &__reward {
        grid-area: card__reward;
        &-wrapper {
            display: flex;
            justify-content: space-between;
        }
        &-cut,
        &-paid {
            display: flex;
            gap: 5px;
            &-label{
                font-size: 12px;
                padding-right: 2px;
                word-break: break-word;
                width: 36px;
                text-align: right;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 1;
            }
            &-date{
                font-family: "Share Tech Mono", monospace;
                font-size: 24px;
                line-height: 1;
            }
        }
    }
    &__type {
        grid-area: card__type;
        justify-self: flex-end;
        &-image {
            width: 50px;
        }
    }
    &__time {
        font-family: 'Oswald', sans-serif;
        grid-area: card__time;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        line-height: 1;
        &-number {
            font-size: 38px;
            margin-bottom: 5px;
        }
        &-label {
            font-size: 14px;
            padding-right: 2px;
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
        &-paid {
            font-size: 20px;
            color: white;
            background: green;
            padding: 4px 4px;
            border-radius: 4px;
        }
    }
    &__brand {
        grid-area: card__brand;
        align-self: flex-end;
    }
    &__edit{
        color: white;
        overflow: hidden;
        a {
            color: inherit;
        }
        &-wrapper{
            color: white;
            padding: 20px;
            background: #686767;
            margin: 0 10px;
            border-radius: 0 0 5px 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &--reward {
            flex: 1 0 100%;
            margin-bottom: 20px;
            border-bottom: 1px solid white;
            padding-bottom: 20px;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                //li {
                //    margin-left: 15px;
                //}
            }
        }
    }
    &__button{
        position: relative;
        width: calc(100% - 40px);
        height: 10px;
        background: black;
        margin: 0 auto;
        border-radius: 0 0 5px 5px;
        text-align: center;
        button{
            border-radius: 50%;
            background: black;
            color: white;
            height: 35px;
            width: 35px;
            border: none;
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 12px;
            }
        }
        &-down,
        &-up{
            height: 12px;
            transition: transform .5s ease-out 0.3s;
        }
        &-up{
            transform: rotate(180deg);
            
        }
    }
    &.card-dark{
        color: white;
        .techNumber{
            -webkit-text-stroke: thin white;
        }
    }
    .notAvailable {
        opacity: .5;
        text-decoration: none;
    }
    .slide-leave-to,
    .slide-enter-from {
        max-height: 0;
    }
    .slide-leave-from,
    .slide-enter-to {
        max-height: 300px;
    }
    .slide-leave-active,
    .slide-enter-active {
        transition: max-height 0.5s ease;
    }
    
    
}