<li class="card">
    {{ card.name }} - xxxx-{{ card.number }}
    {{ card.cutDate }} -> {{ daysLeft !== 0 ? daysLeft : 'Last Day to pay' }}
    <div v-if="available">available</div>
    <div v-else>not available</div>
    <div v-if="paid">Paid</div>
    <span>{{minAmount}} - {{ maxAmount}}</span>
    <div>
        <input type="checkbox" v-model="card.cutPaid" :id="card.id" @change="$emit('cutPaidChanged', $event.target)">
        <label for="checkbox">Paid: {{ card.cutPaid }}</label>
    </div>
    <div>{{ card.cutPaidDate }}</div>
    <details>
        <summary>Rewards</summary>
        <ul>
            <li v-for="reward in card.rewards">
                <a href="#" @click.prevent="$emit('filterBy', reward.name)">{{ reward.name }} - {{ reward.interest}}</a> 
                
            </li>
        </ul>
      </details>
</li>