nav {
    .nav-links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 10px 20px;
        margin-bottom: 20px;
        background: white;
        border-radius: 10px;
        height: 35px;
        &-filter{
            display: flex;
            align-items: center;
            height: 100%;
            &-icon{
                height: 24px;
                filter: opacity(0.3);
            }
            &.active .nav-links-filter-icon{
                filter: none;
            }
            &-icon{
                height: 24px;
                filter: opacity(0.3);
                
            }
        }
    }
    .nav-filters{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 10px 20px;
        margin-bottom: 20px;
        background: white;
        border-radius: 10px;
        height: 35px;
    }
    
    a{
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        color: black;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .leftNav {
        display: inline-flex;
        gap: 10px;
    }
    .rightNav{
        position: relative;
        &__link {
            line-height: 1;
            vertical-align: middle;
        }
        &__image {
            height: 30px;
            border-radius: 50%;
        }
        &__menu {
            position: absolute;
            width: 80px;
            right: 35px;
            top: 0px;
        }
    }
}