nav {
    padding: 0 15px 15px 15px;
    margin-top: 15px;
    .nav-links{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 10px 20px;
        margin-bottom: 20px;
        background: white;
        border-radius: 10px;
        height: 35px;
        z-index: 2;
        &-filter{
            display: flex;
            align-items: center;
            height: 100%;
            &-icon{
                height: 24px;
                filter: opacity(0.3);
            }
            &.active .nav-links-filter-icon{
                filter: none;
            }
        }
    }
    .nav-filters{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 10px 20px;
        margin-bottom: 20px;
        background: white;
        border-radius: 10px;
        height: 35px;
        z-index: 1;
    }
    a{
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        color: black;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav-header {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        &:before {
            content: "";
            position: absolute;
            top: -30px;
            right: -30px;
            left: -30px;
            bottom: 0;
            background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%);
            z-index: -1;
        }
        &:not(:last-child){
             padding-bottom: 30px;
         }
        &-left {
            display: flex;
            flex: 1 1 auto;
            gap: 15px;
            &-text {
                z-index: 0;
            }
            &-avatar {
                z-index: 1;
            }
        }
        &-username {
            font-size: 16px;
            color: grey;
        }
        &-title {
            font-size: 20px;
            text-transform: capitalize;
            font-weight: 600;
        }
        &-options {
            padding: 10px;
            background-color: #f0f0f0;
            border-radius: 5px;
            display: flex;
        }
        &-filtered {
            &:after{
                animation: shake 5s infinite;
                content: "i";
                display: flex;
                height: 20px;
                width: 20px;
                background-color: #00a1ff;
                position: absolute;
                top: -10px;
                right: -10px;
                border-radius: 50%;
                font-size: 15px;
                align-items: center;
                justify-content: center;
                font-family: 'Roboto';
                text-transform: lowercase;
                color: white;
                border: 3px solid white;
            }
            
        }
    }
    .nav-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        position: relative;
        z-index: 0;
    }
    .leftNav {
        display: inline-flex;
        gap: 10px;
    }
    .rightNav{
        position: relative;
        &__link {
            line-height: 1;
            vertical-align: middle;
        }
        &__image {
            height: 40px;
            border-radius: 50%;
        }
        &__menu {
            position: absolute;
            width: 80px;
            left: 50px;
            top: 5px;
            z-index: -1;
            &:before {
                content: "";
                position: absolute;
                width: 136px;
                left: -63px;
                top: -16px;
                padding: 10px;
                background: rgb(255, 255, 255);
                border-radius: 10px;
                height: 43px;
                z-index: -1;
                box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 30%);
            }
        }
    }
    .slideDown-leave-to,
    .slideDown-enter-from {
        margin-top: -198px;
    }
    .slideDown-leave-from,
    .slideDown-enter-to {
        margin-top: 0;
    }
    .slideDown-leave-active,
    .slideDown-enter-active {
        transition: margin-top 0.5s ease;
    }
    .zoomIn-enter-active {
        animation: bounce-in 0.2s;
    }
    .zoomIn-leave-active {
        animation: bounce-in 0.2s reverse;
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        50% {
            transform: scale(1.15);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    .shake {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
    }
    @keyframes shake {
        2%,
        18% {
            transform: translate3d(-1px, 0, 0);
        }
        
        4%,
        16% {
            transform: translate3d(1px, 0, 0);
        }
        
        6%,
        10%,
        14% {
            transform: translate3d(-2px, 0, 0);
        }
        
        8%,
        12% {
            transform: translate3d(2px, 0, 0);
        }
        20%,100% {
            transform: translate3d(0, 0, 0);
        }
    }
}