nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .leftNav {
        display: inline-flex;
        gap: 10px;
    }
    .rightNav{
        &__image {
            height: 30px;
            border-radius: 50%;
        }
        &__menu {
            position: absolute;
            width: 70px;
            padding: 10px;
            right: 0;
        }
    }
}