<nav>
    <div class="nav-header">
        <div class="nav-header-left">
            <div class="nav-header-left-avatar">
                <div class="rightNav">
                    <a class="rightNav__link" href="#" @click.prevent="showMenu = !showMenu">
                        <img class="rightNav__image" :src="getDynamicUserAvatar()" referrerpolicy="no-referrer" alt="User Avatar"/>
                    </a>
                    <transition name="zoomIn">
                        <div class="rightNav__menu" v-if="showMenu && isLoggedIn" >
                            <a href="#" @click.prevent="signOut">Sign Out</a>
                        </div>
                    </transition>
                </div>
            </div>
            <div class="nav-header-left-text">
                <div class="nav-header-title">
                    Welcome back
                </div>
                <div class="nav-header-username">
                    {{ userDisplayName }}
                </div>
            </div>

        </div>
        <div class="nav-header-right">
            <a class="nav-header-options" :class="{ 'nav-header-filtered': filterRewardCategory}" href="#" @click.prevent="showFilter = !showFilter">
                <img class="nav-header-options-icon" src="/src/assets/options.svg" alt="Show filters"/>
            </a>
        </div>
    </div>
    <transition name="slideDown">
        <div class="nav-content" v-show="showFilter">
            <Filter
                @filterBy="filterBy"
                :filterRewardCategory="filterRewardCategory"
                :showFilter="showFilter"
                :resetFilterBy="resetFilterBy"
            />
        </div>
    </transition>
</nav>